body {
    text-align: center;
    background: black;
    font-family: Courier New, sans-serif;
    line-height: 1.7;
    margin: 0;
    padding: 20px;
    color: #ffff;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #ffff;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}
img {
    width: 50px;
}